.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    background-color: var(--color-gray-700);
    border-bottom: 1px solid var(--color-gray-100);
    margin-bottom: 1rem;

    position: sticky;
    top: 0;
}

.header__title {
    font-size: 2rem;
}

.header_dark-mode-btn {
    background-color: var(--color-gray-700);
    border: 1px solid var(--color-gray-700);
    
}