.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    background-color: var(--color-gray-700);
    border-bottom: 1px solid var(--color-gray-100);
    margin-bottom: 1rem;

    position: sticky;
    top: 0;
    z-index: 1;
}

.header__title {
    font-size: 2rem;
}

.header__theme-btn {
    background-color: var(--color-gray-700);
    border: 1px solid var(--color-gray-700);
    /* border: 1px solid red; */
    width: 30px;
    height: 30px;

    background-image: url(../assets/icons/moon-regular.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.header__theme-btn--sun {
    background-image: url(../assets/icons/sun-regular.svg);
}